body{
    background-image: url("../images/background/haikei_background.svg");    /* 262833 and 00101C */
    color:white;
}



 /* Navbar */

.nav_extra {
    padding: 0 !important;
    margin: 0 !important;
    background-image: url("../images/background/haikei_background.svg");    
    
 }

 .cart_btn{
     margin: 3px 0px;
     padding: 3px 6px;
     position: absolute;
     right:80px;
     top:0px;

 }

 .brand{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

  /* Backend.html */


  .button_display_2{
    color:black;
}

.button_display_2:hover{
    color:white;
}

  .button_display:hover{
    color:white;
  }

 .title{
     margin-top: 20px;
     font-size: 20px;
     font-weight: bold;
     text-decoration: underline;

 }

 .select_styles{
    text-decoration: underline;
    font-weight: bold;
    background-color: transparent;
    color:rgba(255, 255, 255, 0.843);
    cursor:pointer;
    border-radius: 5px;
    
 }

 .option_color{
     
    background-color: #262833;

 }

 .center_vertical{
     
    line-height: 40px;

}


 .center_horiz{
    text-align: center;

 }

 .table_display{    
     min-height: 40px;
     background-image: url("../images/background/3.svg");    
     border-radius: 5px;
     margin-top: 8px;
     font-size: 16px;
     font-weight: bold;
     color: white;
     cursor: pointer;

     


 }

 .order_color{
    background-image: url("../images/background/2.svg");  
    color: white;  
    min-height: 40px;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

 }

 .order_color:hover{
    background-image: url("../images/background/3.svg");  
    color: greenyellow;

 }

 .table_display:hover {
    background-image: url("../images/background/2.svg");  
    color:yellow;
    
    
 }

 .order_color:hover .button_display_2{
    color:white;
}

.table_display:hover .button_display{
    color:white;
}

 .color_white{
     background-color: white;
 }

 .position_right{
    float:right;

 }

 .margin-20{
    margin-left: 20px;
    margin-right: 20px;

 }

 .product_div{
    background-image: url("../images/background/haikei_background.svg");    
     border-radius: 5px;
     margin-top: 5px;
     font-size: 17px;
 }


 .product_text{
     margin-left: 10px;
     font-weight:700;
     color:rgba(255, 255, 255, 0.836);
 }

 .close_btn{
     color:darkred;
     cursor: pointer;
     float:right;
     margin-right: 5px;

 }
 .close_btn:hover{
     color:darkorange;
 }

 .edit_btn{
    cursor: pointer;
    float:right;
    margin-right: 10px;

 }

 .edit_btn:hover{
     color:darkorange;
 }

 .add_aisle_btn{
     margin:30px auto;
     border-radius: 10px;
     border-width: 3px;
     border-color: white;
     background-color: black;
     color:rgba(255, 255, 255, 0.836);
     font-weight: bold;
     font-size: 12px;
 }
 .add_aisle_btn:hover{
    background-image: url("../images/background/haikei_background.svg");    
    color:white;
    border-color: tomato;

 }

 .add_product_btn{
     background-color: transparent;
     border-color: transparent;
     color:white;
     padding: 0px;
    }

.add_product_btn:hover{
    color:black;
}



 /*  */


